body {
	background-color: salmon;
	margin: 0;
	padding: 0;
}

#content-wrap {
	display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}

#chat-window {
	display: flex;
	flex-direction: column;
	max-width: 80%;
	max-height: 100vh;
	background: #eee;


	ul.chat-messages-wrap{
		margin: 0;
	}
	
	.chat-messages-wrap {
		flex-grow: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
		padding: 0 2.5%;

		li {
			list-style-type: none;
		}
	}

	.single-messages-wrap {
		display: flex;
		flex-direction: row;
		padding-top: 2%;

		p {
			margin: 0;
		}

		.message-timestamp {
			font-size: 0.8em;
			flex-shrink: 0;
			padding: 12px 12px 0 0;
		}

		.message-line {
			background-color: lightblue;
			padding: 10px;
			border-radius: 10px;
		}
	}

	#chat-footer {
		background-color: #3d3d3d;
		width: 100%;
		padding: 0;
   	flex-shrink: 0;
	}
}


#side-bar {
	width: 20%;
	height: 100vh;
	background-color: steelblue;
}

