body {
	background-color: salmon;
	margin: 0;
	padding: 0;
}

#content-wrap {
	display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}

#chat-window {
	width: 80%;
	height: 100vh;
	background: #eee;
	position: relative;

	li {
		list-style-type: none;
	}

	.chat-message-wrap {

		margin: 2% 0 2% 0;

		.message-timestamp {
			font-size: 0.8em;
		}

		.message-line {
			background-color: lightblue;
			padding: 10px;
			border-radius: 10px;
		}
	}
}

#chat-footer {
	background-color: #3d3d3d;
	width: 100%;
	position: absolute;
  bottom: 0px;
}s

#side-bar {
	width: 20%;
	height: 100vh;
	background-color: steelblue;
}

